/* FUENTE */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,500;0,700;0,800;1,400&display=swap");
body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  line-height: 28px; }

@font-face {
  font-family: Social_Shapes;
  src: url(Social_Shapes.woff2) format("woff2"),
       url(Social_Shapes.woff) format("woff"),
       url(Social_Shapes.ttf) format("opentype");
}

.contacto__icono {
  font-family: Social_Shapes
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  width: 100%;
  display: inline-block;
  text-align: center; }

.blog__titular, h1, h2, h3 {
  color: #D9B64E; }

a {
  color: #D9B64E; }

.migajas {
  margin-left: 5rem;
  margin-top: 1em; }

/* FONDO */
body {
  margin: 0;
  padding: 0;
  position: relative;
  background: white;
  background: linear-gradient(180deg, white 0%, #f4f4f4 100%); }

#maincontent {
  width: 80%;
  margin: auto; }

/* MENU */
.menu-bs {
  z-index: 1;
  background: #D9B64E;
  width: 100%;
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-around;
  font-family: "Raleway", sans-serif;
  font-weight: 700; }

#navbarSupportedContent a:hover {
  color: #fff !important; }

.navbar-dark .navbar-nav .nav-link {
  color: #000 !important; }

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show > .nav-link {
  color: #fff !important; }

.menu-logo {
  margin-right: 50px; }

/*  TOP MENU */
#top {
  display: flex;
  background: #B04900;
  height: 50px;
  width: 100%; }
  #top header {
    box-sizing: border-box;
    margin: auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    #top header .topmenu__boton--a {
      font-size: 12px;
      margin-left: 10px;
      color: white;
      text-decoration: none; }
    #top header nav {
      display: flex;
      align-items: flex-end;
      justify-content: center; }
      #top header nav ul {
        padding: 0;
        margin: 0;
        display: inline-block; }
        #top header nav ul li {
          display: inline-block; }
          #top header nav ul li a {
            margin-left: 10px;
            color: white;
            text-decoration: none;
            display: inline-block; }

.topmenu__boton--a:hover {
  color: black;
  text-decoration: underline !important; }

/* VIDEO HOME */
.home__video {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative; }

.home__video iframe, .home__video object, .home__video embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }

/* SECCION LA ESCUELA */
#la-escuela {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 8px 2px rgba(122, 122, 122, 0.6);
  background-color: white;
  padding: 4rem;
  border-radius: 1rem; }
  #la-escuela .escuela__boton {
    margin: auto; }
  #la-escuela .escuela__boton--a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    background: #B04900;
    color: white;
    padding: 20px;
    transition-duration: 1s  !important;
    transition-timing-function: ease  !important;
    transition-delay: 0s  !important; }
  #la-escuela .escuela__boton--a:hover {
    color: black;
    background: linear-gradient(#D9B64E, #d9b989); }

/* SECCION QUIENES SOMOS */
#quienes-somos {
  padding-top: 70px;
  padding-bottom: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 8px 2px rgba(122, 122, 122, 0.6);
  background-color: white;
  padding: 4rem;
  border-radius: 1rem; }
  #quienes-somos .quienes-somos__img {
    width: 100%; }

/* SECCION DONDE ESTAMOS */
#donde-estamos {
  padding-top: 70px;
  padding-bottom: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 8px 2px rgba(122, 122, 122, 0.6);
  background-color: white;
  padding: 4rem;
  border-radius: 1rem; }

/* SECCION GALERIA */
#galeria {
  padding-top: 70px;
  padding-bottom: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 8px 2px rgba(122, 122, 122, 0.6);
  background-color: white;
  padding: 4rem;
  border-radius: 1rem; }
  #galeria .modal-content {
    width: fit-content !important; }
  #galeria .modal-dialog {
    display: flex;
    justify-content: center; }
  #galeria .btn-close {
    margin: auto; }
  #galeria .galeria__contenedor {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around; }
  #galeria .galeria__miniatura img {
    height: 200px;
    width: 200px;
    object-fit: cover; }
  #galeria .galeria__miniatura button {
    border: 0; }
  #galeria .galeria__miniatura:hover {
    transform: scale(1.5);
    transition: 800ms ease;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.5); }

/* SECCION CONTACTO */
#contacto {
  padding-top: 70px;
  padding-bottom: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 8px 2px rgba(122, 122, 122, 0.6);
  background-color: white;
  padding: 4rem;
  border-radius: 1rem; }
  #contacto .contacto__info {
    margin-top: 20px; }
  #contacto .contacto__enlace {
    display: block;
    padding: 2px;
    text-decoration: none;
    font-weight: 800;
    color: #B04900; }
  #contacto textarea {
    font-family: 'Raleway';
    padding: 10px; }
  #contacto input {
    width: 100%;
    padding: 7px;
    margin: 5px 5px 5px 0px;
    font-family: 'Raleway'; }
  #contacto .consulta-form {
    height: 100px;
    width: 100%; }
  #contacto .check {
    width: 10%; }
  #contacto .contacto-boton {
    width: 100%; }
  #contacto .contacto__formulario {
    margin-top: 20px; }

/*ESCUELA PAGINA */
#inicio {
  background-color: gray;
  padding: 25px; }

.escuela__contenedor2 {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 8px 2px rgba(122, 122, 122, 0.6);
  background-color: white;
  padding: 4rem;
  border-radius: 1rem; }

.escuela__contenido {
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column; }
  .escuela__contenido p {
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 20px; }
  .escuela__contenido h4 {
    margin-bottom: 20px;
    margin-top: 20px; }

.img-escuela {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px; }

.escuela-middle-section {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center; }

.img-escuela-2 {
  width: 90%;
  display: block;
  margin: auto; }

/* FOOTER */
#footer {
  background: #B04900;
  padding-top: 20px;
  margin-top: 20px; }

.footer__contenedor {
  margin: auto;
  color: white; }

.footer__row {
  align-items: center; }

.footer__logo--img {
  display: block;
  margin: auto;
  filter: invert(100%); }

.footer__copyright {
  margin: 0;
  text-align: center; }

.footer__link {
  color: white; }

/*# sourceMappingURL=estilos.css.map */
